<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>hello_ds</display-name>
	
	<servlet>
		<servlet-name>frontcontroller</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- <init-param>
			<param-name>contextConfigLoction</param-name>
			<param-value>abc.xml,xyz.xml</param-value>
		</init-param> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>frontcontroller</servlet-name>
		<url-pattern>*.rbu</url-pattern>
	</servlet-mapping>	
</web-app>
